/* Update variable names */

html {
  scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #090909;
    overflow-x: hidden;
}

/* unvisited link */
a:link {
  color: inherit;
  text-decoration: inherit;
}

/* visited link */
a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* mouse over link */
a:hover {
  color: inherit;
  text-decoration: inherit;
}

/* selected link */
a:active {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 2.5em;
}

.flex {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* 1st page */

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 100px 100px 1fr / 1fr auto 1fr; /* How does this resize text? There should also be a max width and some overflow for the buttons . How would i center stuff here? */ 
}

.grid-item {
    text-align: left;
    margin: auto;
}

#text {
    font-size: 2em;
    font-family: monospace;
    color: #f5f5f5;
}

#text1 {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(40, end);
}

#text2 {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:  typing2 1s steps(1, end),
              typing 1.5s 1s steps(40, end) ; /* Runs animation "typing2" then runs animation "typing" with 1 second delay*/
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#buttons > button {
    margin: 25px;
    width: 100px;
    height: 45px;
    background-color: none;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    background-color: rgb(0, 0, 0, .0);
    font-family: monospace;
    display: grid;
    place-items: center;
    text-align: center;
}

#buttons > button:focus {
    outline: none;
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

.blink {
    animation: blinker 1s step-start infinite;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @keyframes typing {
    from { 
      width: 0%;
    }
    to { 
      width: 100% 
    }
  }

  @keyframes typing2 {
    from { 
      opacity: 0;
    }
    to { 
      
    }
  }

/* 2nd page */

#information {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #090909;
  color: #f5f5f5;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box {
  width: 50vw;
  height: auto;
  padding: 75px 100px 75px 100px;
  margin: 50px;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.smallHeading {
  font-size: .75em;
  margin-top: -20px;
  margin-bottom: 10px;
}