/* Update variable names */

body {
    margin: 0px;
    background-color: #030303;
}

img {
    width: 50px;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 100px 100px 1fr auto / 1fr auto 1fr; /* How does this resize text? There should also be a max width and some overflow for the buttons . How would i center stuff here? */ 
}

.grid-item {
    /* Cant center this using grid cause the blinking button moves breaks line then? */
    text-align: left;
    margin: auto;
}

#text {
    font-size: 2em;
    font-family: monospace;
    color: #f5f5f5;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* This kinda works to wrap buttons (See erlier comment), is it needed tho?
    flex-wrap: wrap;
    max-width: 60vw;
    background-color: blue;
     */
}

#buttons > div {
    margin: 25px;
    width: 100px;
    height: 45px;
    background-color: none;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    display: grid;
    place-items: center;
    text-align: center;
}

#buttons > div:hover {
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

#mediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mediaIcons > div {
    margin: 10px;
}

.blink {
    animation: blinker 1s step-start infinite;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  